@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* font-family: 'Bebas Neue', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(240, 242, 253);
}
.container {
max-width: 1200px;
margin: 0 auto;
}
.header {
    background-image: url(colegioimagen/ba.jpeg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    color: aliceblue;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
position: relative;
float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: rgb(250, 247, 247);
    display: block;
}

.menu .navbar ul li a:hover {
color: rgba(105, 180, 241, 0.705);
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-txt{
   text-align: left;
    margin-bottom: 15pxs;
}
.header-txt h1, span, h3{
    font-size: 60px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif; 
    color: rgba(32, 32, 129, 0.973);
    margin-bottom: 20px;
}

.header-txt span{
    font-size: 25px;
}
.header-txt p{
    color: rgb(38, 36, 172);
    padding: 0 250px;
    margin: 25px 0;
}

.btn-1{
    display: inline-block;
    padding: 11px 25px;
    background-color: rgba(0, 0, 139, 0.568);
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    margin: 25px 0;
    border: 0;
}
.btn-1:hover{
    background-color: rgb(203, 203, 236);
}
.header-dir{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}

.dir h3{
    font-size: 18px;
}
.dir p{
    font-size: 17px;
    color: rgb(26, 54, 216);
    text-transform: uppercase;
}

.welcome {
    display: flex;
}
.welcome-1 {
    background-image: url(colegioimagen/a1.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
}

.welcome-2 {
    width: 70%;
    padding: 150px 250px 150px 100px;
    background-color: rgba(130, 147, 223, 0.555);
}

h2 {
    font-size: 10px;
    line-height: 50px;
    color: rgb(4, 5, 5);
    text-transform: uppercase;
    font-family:'Bebas Neue', sans-serif;
    margin-bottom: 20px;
}
p{
    font-size: 16px;
    color: rgb(17, 17, 17);
    margin: 25px 0;
}
.b1 {
    color: rgb(95, 95, 141);
}
.services {
    padding: 100px 0;
    text-align: center;

}

.services-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr{
    border: 1px solid blue;
    width: 80px;
}
.services-txt p {
padding: 50px 150px;
}
.services-group {
    padding: flex;
    justify-content: space-between;
    margin: 45px 0;
}

.services-1 {
    background-color: rgba(0, 0, 255, 0.404);
    padding: 35px 25px;
    margin: 0 10px;
    border-radius: 15px;
}

.services-1 img{
    width: 15px;
    margin-bottom: 15px;
}

.services-1 h3{
    font-size: 50px;
    color: rgb(18, 18, 19);
}
.services-1 a{
    color: blue;
    font-size: 16px;
}
.prices {
    display: flex;
}
.prices-1{
    width: 50%;
    padding: 150px 250px 150px 100px;
    background-color: rgba(215, 215, 235, 0.76);
}
table{
    margin: 50px 0;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
tr{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(5, 5, 5, 0.795);
    margin-bottom: 20px;
}
th{
    color: rgb(12, 12, 12);
    padding-bottom: 15px;
}

td{
    color: rgb(77, 102, 156);
}

.prices-2 {
    background-image: url(colegioimagen/a.jpeg);
    background-position: center center;
    background-size: cover;
    width: 50%;
}

.personal{
    padding: 100px 0;
    text-align: center;
}

.personal-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
}

.personal-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.personal-1{
    text-align: center;
}
.personal-1 img{
    width: 250px;
    border-radius: 15px;
    margin-bottom: 25px;
}
.personal-1 h3{
    font-size: 22px;
}
.personal-1 p{
    padding: 0 50px;
}
.personal-1 a{
    color: darkcyan;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    
    
}
form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 600px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}
h2{
    color: rgba(124, 154, 179, 0.466);
    font-size: 35px;
}

label {
    color: rgba(5, 5, 5, 0.788);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: rgb(230, 234, 235);
    border: 2px solid rgb(40, 11, 119);
    color: rgba(78, 71, 202, 0.822);
    outline: none;
}
input::placeholder, textarea ::placeholder {
    color: rgba(102, 102, 218, 0.452);
}
.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.btn-1 {
    font-size: 16px;
    color: rgb(242, 244, 247);
    border: 0;
    border-radius: 25px;
    background-color: rgb(16, 48, 95);
    box-shadow: 0 0 20px rgba(rgb(226, 222, 222));
    cursor: pointer;
}
.btn-1 :hover {
    background-color: rgba(100, 97, 252, 0.918);
}
@media(max-width:991px) {
    body{
        padding: 30px;
    }
    form {
        padding: 50px;
        width: 100%;
    }
    input {
        padding: 15px ;
    }
}


.pie-pagina{
    width: 100%;
    background-color: rgba(131, 192, 241, 0.822);
    }
    .pie-pagina .grupo-1{
        width: 100%;
         max-width: 1200px; 
         margin: auto; 
         display: grid; 
         grid-template-columns: repeat(3, 1fr); 
         grid-gap: 50px;
          padding: 45px 0px;
    }
    .pie-pagina .grupo-1 .box figure{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        }
        .pie-pagina .grupo-1 .box figure img{
            width: 250px;
        }
        .pie-pagina .grupo-1 .box h2{
            color: #000;
            margin-bottom: 25px;
            font-size: 40px;
        }
        .pie-pagina .grupo-1 .red-social a{
            width: 45px;
            height: 45px;
            line-height: 40px;
            color:rgba(0, 0, 255, 0.74) ;
            margin-right: 10px;
            background-color: rgba(135, 207, 235, 0.815);
        }
        .pie-pagina .grupo-2 {
            background-color: rgb(111, 172, 223);
            padding: 15px 10px;
            text-align: center;
        }

@media(max-width:991px) {
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: blue;
        display: none;

    }
    .menu .navbar ul li{
        width: 100%;

    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .heade{
        min-height: 0vh;
    }
    .header-content{
        padding: 80px 30px 50px 30px;
    }

    .header-txt{
        margin-bottom: 15px;
    }
    .header-txt p {
        padding: 0;
        margin: 15px 0;

    }
    .header-dir {
        flex-direction: column;
    }
    .dir p{
        font-size: 1px;
    }
    .welcome{
        flex-direction: column;
    }
    .welcome-1{
        display: none;
    }
    .welcome-2{
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    h2{
        font-size: 70px;
        line-height: 80px;

    }
    p{
        margin: 15px 0;
    }
    .services{
        padding: 30px;
    }
    .services-txt p{
        padding: 0;
    }
    .services-group {
        flex-direction: column;
        margin: 0;
    }
    .services-1{
        margin: 0 0 20px 0;
    }
    .prices{
        flex-direction: column;
    }
    .prices-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    table{
        margin: 25px 0 0 0;
    }
    .prices-2{
        display: none;
    }
    .personal{
        padding: 30px;
    }
    .personal-group{
        flex-direction: column;
        margin-bottom: 0;
    }
    .personal-1{
        margin-bottom: 25px;
    }
    .footer-bg{
        padding: 30px;
    }

    textarea {
        width: 250px !important;
    }
}